
        <div class="name">
            <h1 class="hero-text">About us</h1>

        </div>
        <div class="card z-depth-5 about-us-section">
            <p>We are two enthusiastic Computers Science students, Diego and Jesus, from Tecnologico de Monterrey.</p>
            <p>Everyday we are involved in conversations and hear people speak. Many of
these conversations become so important we cannot forget any single word that was said, and
in that case we usually end up writing down the main ideas. It happens in meetings,
whether business meetings or student organized activities; as thoughts flow through the
minds of people, some of them might be lost forever if they are not kept.</p>
            <p>
We look to provide a solution to manage meetings and conversations. The hope is that we will help people focus more on the discussions they are
involved and less in having to write down or remember what is being said in the meeting, while also support them in revisiting previous meetings where they participated.
</p>
        </div>
