
        <div class="name">
            <h1 class="hero-text">How it works:</h1>

        </div>
        <div class="card z-depth-5 about-us-section">
            <p>Three simple steps:</p>
            <ul>
                <li>1) Create a team!</li>
                <li>2) Start a meeting!</li>
                <li>3) Get back the transcription! </li>
            </ul>
            <p>It is that easy. </p>
            <p>Your meeting and all its information will be automatically shared with all the team members!</p>
        
</p>
        </div>
