
        <div class="name">
            <h1 class="hero-text">Try it out</h1>
        </div>
        
        <div class="card z-depth-5 about-us-section">
            <p>Press to start recording. We will show the results below:</p>
            <div class="transcript test-try"> 
                <p id="transcript-text">No meeting has been recorded.</p>
            </div>


      <div class="wrapper-for-spinner">
      <a href="#" id="start-btn" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">mic</i></a>
      <a href="#" id="stop-btn" class="btn-floating btn-large waves-effect waves-light red blinking"><i class="material-icons">stop</i></a>
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-red">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-yellow">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-green">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>

    </div>
        </div>
        </div>
